* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    height: 100vh;
}

h1, h2, h3 {
    font-family: 'DM Serif Display', serif;
}


/****** NAVIGATION ******/

a {
    text-decoration: none;
    text-transform: uppercase;
}

.header{
    border-bottom: 1px solid #E2E8F0;
    position: relative;
    z-index: 3;
}

.navbar {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
    margin: 0 auto;
}

.hamburger {
    display: none;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-button {
    border: 1.5px solid hsl(256, 26%, 20%);
    padding: 1em 2em;
    font-weight: 700;
    letter-spacing: 3px;
}

#nav-button a {
    color: hsl(256, 26%, 20%);
}

.nav-item {
    margin-left: 2em;
    list-style-type: none;
    color: hsl(273, 4%, 51%);
}

.nav-link {
    color: hsl(273, 4%, 51%);
}


/* CHANGE THIS - Mobile dropdown */

@media (max-width: 1200px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}







/****** SECTION 1 ******/

hr {
    width: 25%;
    border: .25px solid #ffffff;
    margin-bottom: 4em;
}

.section1 {
    background: hsl(256, 26%, 20%);
    color: #ffffff;
    /* position: relative; */
}

.section1-content {
    display: flex;
    align-items: flex-start;
    width: 75%;
    margin: 0 auto;
}

.section1 h1 {
    font-size: 5rem;
    line-height: .9;
    margin-bottom: .5em;
}

.section1 p {
    line-height: 2em;
    margin-bottom: 2em;
}

.section1 button {
    border: 1px solid white;
    background: hsla(256, 26%, 20%, .75);
    
    padding: 1em 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 6em;
    z-index: 2;
    position: relative;
}

.section1 button a {
    color: #fff;
}

#section1-pattern-left {
    position: absolute;
    left: 0;
    margin-top: 20em;
}

#section1-pattern-right {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.section1-left {
  width: 50%;
  margin-top: 5em;
  padding-right: 2em;
  max-width: 100%;
}

.section1-right {
    width: 50%;
    position: relative;
}

#section1-main-image {
    position: absolute;
    right: 0;
    margin-top: 5em;
    max-width: 100%;
}


@media (max-width: 1200px) {
    .section1-content {
        flex-direction: column;
    }
    .section1-left {
        width: 100%;
        order: 2;
        margin: 0 auto;
        text-align: center;

    }
    .section1-right {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #section1-main-image {
        z-index: 2;
        position: relative;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .section1 h1 {
        font-size: 3.5rem;
    }
    hr {
        display: none;
    }

}




/****** SECTION 2 ******/

.section2 {
    width: 75%;
    margin: 0 auto;
    margin-top: 15em;
    margin-bottom: 10em;
}

.section2-hr {
    width: 10%;
    border: 1px solid hsla(273, 4%, 51%, .5);
}

.section2 h2 {
    font-size: 4.5rem;
    margin-bottom: .75em;
}

.section2-options {
    display: flex;
    justify-content: space-between;
}

.section2-option {
    width: 30%;
}

.section2 img {
    width: 20%;
    margin-bottom: 1.25em;
}

.section2 h3 {
    font-size: 1.5rem;
    margin-bottom: .75em;
}

.section2 p {
    color:hsl(273, 4%, 51%);
    line-height: 1.7;
}


@media (max-width: 1200px) {
    /* Fill in */
}




/****** SECTION 3 ******/

.section3 {
    width: 75%;
    background: hsl(256, 26%, 20%);
    margin: 0 auto;
    color: #fff;
    position: relative;
    margin-bottom: 10em;
}

.section3 h2 {
    font-size: 4em;
    width: 50%;
    padding: 1em 0 1em .65em;
    line-height: .95;
    z-index: 1;
}

.section3-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section3 img {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 0;
}

.section3 button {
    border: 1px solid white;
    background: hsla(256, 26%, 20%, .75);
    padding: 1em 1.5em;
    text-transform: uppercase;
    letter-spacing: 3px;
    height: 25%;
    margin-right: 5em;
    z-index: 1;
}

.section3 button a {
    color: #fff;

}




/****** FOOTER ******/

footer {
    background: hsl(0, 0%, 98%);
    position: relative;
}

.footer-main {
    width: 75%;
    margin: 0 auto;
    padding-top: 2em;
    padding-bottom: 5em;
    position: relative;
    z-index: 1;
    
}

.footer-topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.footer-socialicons img {
    margin-left: 1em;
}

.footer-hr {
    width: 100%;
    border: 1px solid hsla(273, 4%, 51%, .5);
}

.footer-bottom {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.footer-bottom h3 {
    font-family: 'Karla', sans-serif;
    margin-bottom: 2.5em;
    font-size: .9rem;
    text-transform: uppercase;
    color: hsl(273, 4%, 51%);
}

.footer-bottom ul {
    list-style-type: none;
}

.footer-bottom li {
    text-transform: uppercase;
    
    margin-bottom: 1em;
    font-weight: 700;
    font-size: .9rem;
}

.footer-bottom a {
    color: hsl(256, 26%, 20%);
}

#footer-background-image {
    position: absolute;
    top: 0;
    left: 0;
}

